{% extends "base.jinja2" %}

{% block content %}
    <div class="container">
    <main>
        <div class="container">
            <h2>Virker fødeepiduralen alltid?</h2>

            <ul>
                <li>8 av 10 kvinner som får fødeepidural vil oppnå utmerket smertelindring innen 30 min. Epidural smertelindring kan fortsette gjennom hele fødselen.</li>
                <li>2 av 10 kvinner som får fødeepidural vil ikke oppnå tilfredsstillende smertelindring av denne. Iblant kan prosedyren gjøres på ny.</li>
            </ul>
        </div>
    </main>
    </div>
{% endblock content %}