{% extends "base.jinja2" %}

{% block content %}
    <div class="container">
    <main>
        <div class="container">
            <h2>Alt du trenger å vite om fødeepidural</h2>

            <p>Fødeepidural er et tilbud om smertelindring i forbindelse med fødsel.
                Det betyr at en blanding av lokalbedøvelse og et morfinlignende stoff settes i et område utenfor (epi-) ryggmargen.
                Ryggmargen omsluttes av en hinne (dura), derav navnet epi-dural.
                Rismerter oppstår når livmorens muskulatur trekker seg sammen.
                Ved å blokkere de nerverøttene som går til livmoren, vil smertene under ri oppleves mindre intense.
                Epiduralen skal ikke ta bort all følelse av rien.
                En vellykket fødeepidural tar bort den verste smerten, men følelsen av ri skal ikke forsvinne.
                Ofte vil sammentrekningen av livmoren kjenns som et press mot endetarmen. </p>

            <div class="image-view">
                <img src="static/img/index-image01.png">
                <img src="static/img/index-image02.png">
            </div>
        </div>
    </main>
    </div>
{% endblock content %}