{% extends "base.jinja2" %}

{% block content %}
    <div class="container">
    <main>
        <div class="container">
            <h2>Praktisk gjennomføring</h2>

            <p>Fødeepidural krever en del utstyr og ekstra overvåkning og kan bare anlegges av anestesilege.</p>
            <p>Du vil få informasjon om hva som skal skje når du får fødeepiduralen. Anestesilegen vil be deg sitte på sengekanten eller ligge på siden, i fosterstilling, under prosedyren. Det er viktig at du og anestesilegen samarbeider under innsettingen av epiduralkateteret og at du klarer å sitte/ligge rolig når epiduralen settes. Da går det raskt og risiko for komplikasjoner er liten.</p>
            <p>Før fødeepiduralen kan legges må du få en veneflon – et tynt plastrør - som blir lagt inn i en blodåre på hånden. Veneflonen må du ha så lenge du har epiduralkatetertet, vanligvis til fødselen er over. Anestesilegen vil først bedøve huda på korsryggen din, der epidural kateteret legges inn. Via epiduralnålen føres kateteret inn i epiduralrommet. Vanligvis vil du kun kjenne et press mot ryggen, noen ganger kan det kjennes et kortvarig «støt» ned i et av beina.</p>
            <p>Epiduralnålen fjernes og kateteret blir liggende i epiduralrommet. Du vil ikke ha noe ubehag av kateteret. Når kateketer er festet langs ryggen din med plaster blir slangen koblet til en pumpe som vil gi den smertestillende blandingen kontinuerlig og så lenge du har behov for det. Viss du ikke har god nok smertelindring kan mengde væske vi setter inn økes og du kan i tillegg få ekstra påfyll av jordmor.	Du kan gå oppe og røre deg fritt når du har fått en fødeepidural. Noen kvinner kan bli litt nummen og får litt nedsatt følelse i beina. Ha alltid en person hos deg når du vil rusle rundt.</p>
            <p>Du kan drikke klare væsker etter at fødeepiduralen er anlagt og spise små, lettfordøyelige måltid – om ikke annen beskjed er gitt av fødselslege eller jordmor.</p>

        </div>
    </main>
    </div>
{% endblock content %}