{% extends "base.jinja2" %}

{% block content %}
    <div class="container">
    <main>
        <div class="container">
            <h2>Er det bivirkninger av en fødeepidural?</h2>
            <ul>
                <li>Noen vil oppleve svakhet i bena når epiduralbedøvelsen virker, men de fleste kvinner kan være oppe og gå med fødeepidural.</li>
                <li>Fødeepidural skader ikke babyen.</li>
                <li>Fødeepidural kan medføre blodtrykksfall, kløe og feber.</li>
                <li>Fødeepidural kan gjøre det vanskelig å late vannet og det kan bli nødvendig å legge inn kateter til urinblæren.</li>
                <li>De første dagene etter at epiduralbedøvelse er benyttet, er ømhet i ryggmuskulaturen vanlig(i området du ble stukket i ryggen). Det er ubehagelig, men ikke farlig.</li>
                <li>Sterk hodepine oppstår hos 1 av 100 kvinner som får fødeepidural.</li>
                <li>Denne hodepinen vil ofte være behandlingskrevende.</li>
            </ul>

            <p>Alvorlige komplikasjoner av fødeepidural er svært sjeldne. Dersom du opplever noe du tror kan være bivirkning eller komplikasjon av fødeepidural, må du ta kontakt med jordmor som igjen vil kontakte anestesilege.</p>

        </div>
    </main>
    </div>
{% endblock content %}