{% extends "base.jinja2" %}

{% block content %}
    <div class="container">
    <main>
        <div class="container">
            <h2>Hva er Epidural?</h2>

            <p>Fødselssmerter (rier) oppleves forskjellig fra kvinne til kvinne og kan variere fra en fødsel til en annen. Rismerter (fødselssmerter) oppstår når livmorens muskulatur trekker seg sammen.</p>
            <p>Første fødsel tar oftest lenger tid enn om man er flergangsfødende. Det er du som fødende som bestemmer om fødselssmertene er slik at du ønsker smertelindring. En fødeepidural kan legges når som helst i åpningstiden. Hvis fødselen er kommet forlangt kan det være for sent med en fødeepidural og vil da tilby deg annen smertelindring hvis du har behov for det.  Med noen få unntak (medisinske årsaker) kan alle fødekvinner få epidural («fødeepidural») som smertelindring i fødsel. Tilbudet vil kunne variere noe avhengig av hvor i landet du skal føde.</p>
            <p>Fødeepidural betyr (Epidural smertelindring) betyr at lokalbedøvelse og et morfinlignende medikament (opioid) settes i et område utenfor (epi-) ryggmargen. Ryggmargen omsluttes av en hinne (dura), derav navnet epi-dural. En fødeepidural skal gi smertelindring i åpningstiden ved å blokkere de nerverøttene som går til livmoren. På denne måten vil fødselssmertene (riene) oppleves mindre intense og gir deg som fødende bedre kontroll over fødselen din. Det vi tilstreber er å ta bort smerten, men ikke følelsen av å ha ri. Etter at du har fått en fødeepidural vil oftest den fysiske smerten i mage/rygg region forsvinne. Dersom du føler et press mot endetarmen hver gang du har ri betyr det at vet når du har ri og kan være aktiv når du får pressrier dvs. når fødselen nærmer seg avslutningen.</p>

        </div>
    </main>
    </div>
{% endblock content %}