{% extends "base.jinja2" %}

{% block content %}
    <div class="container">
    <main>
        <div class="container">
            <h2>Når kan fødeepidural legges?</h2>

            <p>Fødeepidural kan legges i hele fødselsforløpet. Det er ikke nødvendig å vente til mormunnen har åpnet seg. Imidlertid er det viktig at du klarer å sitte/ligge stille når epiduralkateteret legges inn, noe som kan være vanskelig når du er kommet langt i fødsel og riene er smertefulle. Kveld og natt er det kun en anestesilege på vakt på kvinneklinikken og noen fødekvinner opplever å vente opp til 3 timer på fødeepidural. Det er derfor viktig at du melder fra til jordmor straks du har bestemt deg for at du ønsker fødeepidural.</p>

        </div>
    </main>
    </div>
{% endblock content %}